.project-detail {
    margin: 0 128px;
    padding: 48px 96px;
    transition: all 0.7s;
}

@media screen and (max-width: 1200px) {
    .project-detail {
        margin: 0 96px;
        padding: 48px 72px;
    }
}

@media screen and (max-width: 998px) {
    .project-detail {
        margin: 0 64px;
        padding: 48px 48px;
    }
}

@media screen and (max-width: 760px) {
    .project-detail {
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        border: 0;
        border-radius: 0;
        padding: 48px 24px;
    }
}

.project-detail-exit {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    right: 0;
    stroke: var(--main-color);
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .project-detail-exit {
        stroke: white;
    }
}

.project-detail > div {
    position: relative;
    padding: 16px 32px;
}

@media screen and (max-width: 1200px) {
    .project-detail > div {
        padding: 16px 24px;
    }
}

@media screen and (max-width: 760px) {
    .project-detail > div {
        padding: 16px 16px;
    }
}

.project-detail > div:not(:last-child) {
    border-bottom: 1px solid gainsboro;
}

.project-detail-icon {
    width: 128px;
}

.project-detail-description {
    margin-bottom: 22px;
    font-size: 20px;
    font-weight: 550;
    white-space: nowrap;
}

.project-detail-content-item {
    white-space: pre-line;
}

.project-detail-content-item:not(:last-child) {
    margin-bottom: 16px;
}

.project-detail-contributors {
    margin-bottom: 8px;
}

.project-detail-time {
    text-align: center;
}

.project-detail-progression {
    width: 100%;
    padding: 24px 0 16px;
}

.progress-bar,.progress {
    width: 100%;
    height: 3px;
}

.progress-bar {
    background-color: gainsboro;
}

.progress {
    position: relative;
}

@keyframes progress-bar-init {
    0% {
        right: 100%
    }

    100% {
        right: 0;
    }
}

.progress-bar-icon {
    animation: 1.5s ease progress-bar-init;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    position: absolute;
    top: 0;
    right: 100%;
    width: 24px;
    transform: translate(50%,-41%);
    text-align: center;
}

.progress-bar-icon,.progress-bar-icon path {
   fill: #6d6d6d;
}

@media (prefers-color-scheme: dark) {
    .progress-bar-icon,.progress-bar-icon path {
        fill: white;
    }
}

.project-detail-time-start {
    float: left;
    width: 0;
    overflow: visible;
    white-space: nowrap;
}


.project-detail-time-end {
    float: right;
    width: 0;
    overflow: visible;
    white-space: nowrap;
    direction: rtl;
}

.project-detail-images {
    width: 100%;
    cursor: grab;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.project-detail-images {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.project-detail-image {
    display: inline-block;
    max-height: 50vh;
    tab-index: -1;
}

.project-detail-image {
    margin: 4px 5px
}