.project-filter {
    display: flex;
    line-height: 24px;
    height: 38px;
    margin-bottom: 12px;
    z-index: 1000;
    position: relative;
}

.project-filter-display {
    background-color: white;
    border: 1px solid gainsboro;
    border-radius: 6px;
    padding: 6px 10px;
    height: fit-content;
    color: black;
}

.project-filter-selector {
    list-style: none;
    padding: 0;
    margin-right: 8px;
}

.project-filter-choice {
    border: 1px solid gainsboro;
    background-color: white;
    color: black;
    padding: 6px 10px;
}

.project-filter-choice:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}

.project-filter-choice:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
}

.project-filter-choice::after {
    content: "✅";
    float: right;
    line-height: 24px;
    margin-left: 8px;
    visibility: hidden;
}

.project-filter-choice-activated::after {
    visibility: visible !important;
}