.project-language {
    display: flex;
    line-height: 20px;
}

.project-language-badge {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 2px 4px 2px 2px;
}