.project-card {
    background: white;
    border-radius: 6px;
    color: black;
    border: 1px solid #e1e4e8;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    width: 340px;
    min-width: 340px;
}

.project-card > div {
    width: 100%;
}

.project-card-name {
    font-size: 20px;
    font-weight: bolder;
    display: flex;
}

.project-card-badge {
    height: 24px;
    width: 24px;
    display: inline-block;
    margin-right: 4px;
    align-items: center;
}

svg.project-card-badge {
    padding: 4px;
}

div.project-card-badge {
    border-radius: 25%;
    background-color: var(--main-color);
}

.project-card-description {
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}