.project-card {
    background: white;
    border-radius: 6px;
    color: black;
    border: 1px solid #e1e4e8;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.project-card > div {
    width: 100%;
}

.project-card-name {
    font-size: 20px;
    font-weight: bold;
}

.project-card-image {
    margin-right: 4px;
}

.project-card-language {
    display: flex;
    line-height: 20px;
}

.project-card-language-badge {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 4px;
}

.project-card-description {
    margin-top: 8px;
    margin-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: fade;
}