.badge-external {
    display: inline-block;
    width: 200px;
    margin-bottom: 16px;
}

.badge-external-icon {
    display: block;
    width: 128px;
    height: 128px;
    padding: 32px;
}

.badge-external-text {
    display: block;
    padding: 12px 0;
}

.badge-external-small {
    display: inline-block;
    padding: 4px 10px 4px 6px;
    margin-right: 8px;
    margin-bottom: 8px;
    height: 32px;
    width: fit-content;
}

@media screen and (min-width: 760px) {
    .page-title > .badge-external-small {
        margin-bottom: 0;
        bottom: 100%;
        vertical-align: bottom;
    }
}

.badge-external-small * {
    display: inline-block;
}

.badge-external-small-image {
    width: 16px;
    height: 16px;
    margin: 4px 6px 4px 4px;
}

.badge-external-small-id {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    color: white;
    line-height: 22px;
    float: right;
}