.badge-external {
    display: inline-block;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 4px 6px;
    margin-right: 8px;
    margin-bottom: 8px;
    height: 32px;
    width: fit-content;
}

.badge-external * {
    display: inline-block;
}

.badge-external-image {
    width: 16px;
    height: 16px;
    margin: 4px 6px 4px 4px;
}

.badge-external-id {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    color: white;
    line-height: 22px;
    float: right;
}