.badge-external {
    display: inline-block;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 8px 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    height: 48px;
    width: fit-content;
}

.badge-external * {
    display: inline-block;
}

.badge-external-image {
    width: 22px;
    height: 22px;
    margin: 4px 8px 4px 4px;
}

.badge-external-id {
    position: relative;
    font-weight: 600;
    font-size: 24px;
    color: white;
    line-height: 30px;
    float: right;
}