.badge-lang {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    width: 64px;
    height: 64px;
    padding: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.badge-lang-image {
    max-height: 100%;
    max-width: 100%;
}