.badge-lang {
    background-color: white;
    width: 64px;
    height: 64px;
    padding: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.badge-lang-image {
    max-height: 54px;
    max-width: 54px;
}