.not-found {
    text-align: center;
}

.not-found > div {
    margin: 0 auto;
}

div.not-found > * {
    display: inline-block;
    height: 128px;
    font-size: 128px;
}

div.not-found > .not-found-0 {
    width: 96px;
    height: 96px;
}

.not-found h1 {
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}