.title {
    align-items: center;
    display: flex;
}

.title-name {
    font-weight: 600;
    font-family: 'JetBrains Mono', 'SF Pro Display', sans-serif;
    font-size: 20px;
    margin-bottom: 8px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.cv-item:not(:last-child) {
    margin-bottom: 16px;
}

.section-main:not(:last-child) {
    margin-bottom: 24px;
}

.section-punchline {
    font-size: 24px;
    font-weight: 550;
}

.cv-item *:not(.lint) {
    margin-right: 8px;
}

.cv-item-title * {
    line-height: 24px;
    height: 24px;
}