.title {
    align-items: center;
    display: flex;
}

.title-name {
    font-weight: 600;
    font-family: 'JetBrains Mono', 'SF Pro Display', sans-serif;
    font-size: 20px;
    margin-bottom: 8px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}