.top-menu {
    position: fixed;
    background: none;
    top: 48px;
    right: 64px;
    z-index: 1000;
}

.top-menu .top-link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.top-menu .top-link li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    pointer-events: all;
    margin-left: 24px;
}

.top-menu .top-link li:first-child {
    margin-left: 0;
}