:root {
  --main-color: #3D414D
}

html {
  font-family: 'SF Pro Display', 'Noto Sans CJK KR', 'Noto Sans KR', 'NanumGothic', '나눔고딕', 'Malgun Gothic', '맑은 고딕', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--main-color);
    color: white;
  }

  a {
    color: white;
  }

  a:hover:not(.noLint) {
    background: white;
    color: var(--main-color);
  }
}

@media (prefers-color-scheme: light) {
  a {
    color: var(--main-color);
  }

  a:hover:not(.noLint) {
    background: var(--main-color);
    color: white;
  }
}

main {
  padding: 0 64px
}