.submenu-title {
    font-weight: bolder;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.1;
    display: inline;
    background-color: var(--submenu-bg, white);
}

.submenu-title a {
    background-color: var(--submenu-bg, white);
}

@media screen and (max-width: 850px) {
    .submenu-title {
        display: none;
        pointer-events: none;
    }
}