.submenu-title {
    font-weight: bolder;
    text-rendering: optimizeLegibility;
    font-size: 1rem;
    line-height: 1.1;
    display: inline;
}

@media screen and (max-width: 760px) {
    .submenu-title {
        display: none;
        pointer-events: none;
    }
}